<p-panel class="ui-fluid">
  <p-header>
    {{ 'survey.subjects' | translate }}
  </p-header>
  <div class="ui-g">
    <div class="ui-g-12">

      <div class="ui-g-4" style="margin-bottom: 10px;">
        <!-- <label for="categoryId" required>{{ 'category.title' | translate }}</label> -->
        <p-autoComplete appendTo="body" field="name" [suggestions]="categories" (completeMethod)="searchCategories($event)"
          (onSelect)="categorySelected($event)" [dropdown]="true" [minLength]="3" [placeholder]="'Filtrar por categoria'"></p-autoComplete>
      </div>

      <p-pickList [source]="subjects" [target]="selecteds" [responsive]="true" filterBy="name" dragdrop="true" sourceHeader="Disponíveis"
        targetHeader="Selecionados" sourceFilterPlaceholder="Pesquise pelo nome..." targetFilterPlaceholder="Pesquise pelo nome..."
        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" [showSourceControls]="false" [showTargetControls]="false">
        <ng-template let-subject pTemplate="item">
          <div class="ui-helper-clearfix">{{subject.name}}</div>
        </ng-template>
      </p-pickList>
    </div>
  </div>
</p-panel>
