<div class="sds-container" id="page-content">
  <h1 class="sds-page-title">
    <span id="sds-page-title">{{ 'survey.title' | translate }}</span>
    <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
  </h1>

  <div class="ui-fluid">
    <s-steps [steps]="items" [activeIndex]="activeStep" (stepSelected)="onStepClick($event)"></s-steps>
  </div>

  <div [ngSwitch]="activeStep">
    <app-survey-basic *ngSwitchCase="0"></app-survey-basic>
    <app-survey-subjects *ngSwitchCase="1"></app-survey-subjects>
    <app-survey-questions *ngSwitchCase="2"></app-survey-questions>
    <app-survey-respondents *ngSwitchCase="3"></app-survey-respondents>
    <app-survey-getanswers *ngSwitchCase="4"></app-survey-getanswers>
  </div>

  <div style="margin-top: 10px;">
    <p-panel class="ui-fluid" [showHeader]="false">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-1 ui-sm-4">
          <s-button [label]="'application.previous' | translate" [disabled]="activeStep === 0" priority="secondary" iconClass="fa fa-arrow-left"
            (click)="previous($event)"></s-button>
        </div>
        <div class="ui-g-12 ui-md-1 ui-sm-4">
          <s-button [label]="'application.cancel' | translate" priority="link"></s-button>
        </div>
        <div class="ui-g-12 ui-md-1 ui-md-offset-9 ui-sm-4">
          <s-button [label]="this.labelButtonNext" priority="primary" [rightIconClass]="iconButtonNext" (click)="next($event)"></s-button>
        </div>
      </div>
    </p-panel>
  </div>

</div>
