<div class="sds-container" id="page-content">
  <h1 class="sds-page-title">
    <span id="sds-page-title">Categorias</span>
    <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
  </h1>

  <p-panel class="ui-g ui-fluid">
    <p-header>
      Lista de categorias cadastradas
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g">
            <p-confirmDialog header="Confirmação" [style]="{width: '50vw'}"></p-confirmDialog>
            <p-table [value]="categories" (onLazyLoad)="findByLazy($event)" [lazy]="true" [paginator]="true" [rowsPerPageOptions]="[5,20,50]" [rows]="5"
              [totalRecords]="totalElements" (onPage)="paginate($event)" #dt>
              <!-- <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Pesquise pelo nome..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
              </ng-template> -->
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ 'Nome' }}</th>
                  <th width="150">
                    <s-button [label]="'Adicionar'" priority="primary" (click)="new()"></s-button>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowdata>
                <tr>
                  <td>
                    {{ rowdata.name }}
                  </td>
                  <td>
                    <s-button label="Ações" priority="default" [auxiliary]="true" [model]="getActions(rowdata)"></s-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <label for="">{{ totalElements }} registros encontrados</label>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="ui-lg-12 error-container">
          <s-empty-state *ngIf="hasErrors" [title]="'Algo deu errado!'" [primaryActionLabel]="'Tentar novamente'" (primaryAction)="refresh()"
            [description]="errorMessage">
          </s-empty-state>

          <s-empty-state *ngIf="categories && categories.length === 0" [title]="'Nenhuma categoria cadastrada'"
            [description]="'Clique no botão Adicionar para cadastrar uma nova categoria'">
          </s-empty-state>

          <s-loading-state [loading]="loading"></s-loading-state>
        </div>
      </div>
    </div>

    <app-category-form [category]="categorySelected" (refreshData)="updateCategories($event)"></app-category-form>
  </p-panel>
</div>
