<div class="sds-container" id="page-content">
  <h1 class="sds-page-title">
    <span id="sds-page-title">Respondente</span>
    <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
  </h1>

  <p-messages></p-messages>

  <form (ngSubmit)="save()" [formGroup]="form">
    <p-panel class="ui-g ui-fluid">
      <p-header>
        {{ title }}
      </p-header>

      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6 required">
            <div class="ui-g"></div>
            <label for="respondentType">Tipo respondente</label>
            <p-autoComplete formControlName="_respondentTypeSelected" [suggestions]="respondentTypes" field="label" (completeMethod)="getAllRespondents()"
              [dropdown]="true" (onSelect)="onSelectRespondentType($event)" [placeholder]="'Selecione...'" [disabled]="!isNew" required></p-autoComplete>
            <s-control-errors [control]="form.controls['_respondentTypeSelected']" [errorMessages]="{ required: 'Preenchimento obrigatório' }">
            </s-control-errors>
          </div>
        </div>
      </div>

      <div class="ui-g" *ngIf="respondentTypeSelected === 'EMPLOYEE'">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="respondentIdentifier">Identificador</label>
            <input type="text" formControlName="respondentIdentifier" name="respondentIdentifier" id="respondentIdentifier" pInputText disabled>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="registration">Matrícula</label>
            <input type="text" formControlName="registration" name="registration" id="registration" pInputText>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6 required">
            <label for="name">Nome</label>
            <input type="text" formControlName="name" name="name" id="name" pInputText>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <div *ngIf="name.errors.required">
                Nome é obrigatório.
              </div>
              <div *ngIf="name.errors.minlength">
                Nome deve conter no mínimo 3 caracteres.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="cpf">CPF</label>
            <input type="text" formControlName="cpf" name="cpf" id="cpf" placeholder="000.000.000-00" pInputText>
            <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="error-message">
              <div *ngIf="cpf.errors.maxlength">
                CPF deve conter no máximo 45 caracteres.
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="phoneNumber">Telefone</label>
            <input type="text" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="(000) 00000-0000" pInputText>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6 required">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" name="email" id="email" pInputText>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <div *ngIf="email.errors.required">
                E-mail é obrigatório.
              </div>
              <div *ngIf="email.errors.email">
                E-mail inválido.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="admissionDate">Data Admissão</label>
            <p-calendar formControlName="admissionDate" name="admissionDate" showButtonBar="true" placeholder="DD/MM/AAAA" [showIcon]="true" id="admissionDate"
              [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="dismissalDate">Data Demissão</label>
            <p-calendar formControlName="dismissalDate" name="dismissalDate" showButtonBar="true" placeholder="DD/MM/AAAA" [showIcon]="true" id="dismissalDate"
              [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <label for="dismissalCause">Causa Demissão</label>
            <input type="text" formControlName="dismissalCause" name="dismissalCause" id="dismissalCause" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="companyId">Código Empresa</label>
            <input type="text" formControlName="companyId" name="companyId" id="companyId" pInputText>
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <label for="companyName">Nome Empresa</label>
            <input type="text" formControlName="companyName" name="companyName" id="companyName" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="branchId">Código Filial</label>
            <input type="text" formControlName="branchId" name="branchId" id="branchId" pInputText>
          </div>
          <div class="ui-g-12 ui-md-9 ui-lg-9">
            <label for="branchName">Nome Filial</label>
            <input type="text" formControlName="branchName" name="branchName" id="branchName" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="workstationId">Posto de Trabalho</label>
            <input type="text" formControlName="workstationId" name="workstationId" id="workstationId" pInputText>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4">
            <label for="educationLevel">Nível de Formação</label>
            <input type="text" formControlName="educationLevel" name="educationLevel" id="educationLevel" pInputText>
          </div>
          <div class="ui-g-12 ui-md-5 ui-lg-5">
            <label for="positionName">Cargo</label>
            <input type="text" formControlName="positionName" name="positionName" id="positionName" pInputText>
          </div>
        </div>
      </div>

      <div class="ui-g" *ngIf="respondentTypeSelected === 'VISITOR'">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-lg-4 required">
            <label for="name">Nome</label>
            <input type="text" formControlName="name" name="name" id="name" pInputText>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <div *ngIf="name.errors.required">
                Nome é obrigatório.
              </div>
              <div *ngIf="name.errors.minlength">
                Nome deve conter no mínimo 3 caracteres.
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-8 ui-lg-8 required">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" name="email" id="email" pInputText>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <div *ngIf="email.errors.required">
                E-mail é obrigatório.
              </div>
              <div *ngIf="email.errors.email">
                E-mail inválido.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-lg-4 ">
            <label for="phoneNumber">Telefone</label>
            <input type="text" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber" placeholder="(000) 00000-0000" pInputText>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="visitDate">Data da visita</label>
            <p-calendar formControlName="visitDate" name="visitDate" showButtonBar="true" placeholder="DD/MM/AAAA" [showIcon]="true" id="visitDate"
              [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <label for="visitDescription">Descrição da visita</label>
            <textarea [rows]="5" [cols]="80" pInputTextarea formControlName="visitDescription" name="visitDescription" id="visitDescription"
              autoResize="autoResize"></textarea>
          </div>
        </div>
      </div>

      <div class="ui-g" *ngIf="respondentTypeSelected === 'CANDIDATE'">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-lg-4 required">
            <label for="name">Nome</label>
            <input type="text" formControlName="name" name="name" id="name" pInputText>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <div *ngIf="name.errors.required">
                Nome é obrigatório.
              </div>
              <div *ngIf="name.errors.minlength">
                Nome deve conter no mínimo 3 caracteres.
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4 required">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" name="email" id="email" pInputText>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <div *ngIf="email.errors.required">
                E-mail é obrigatório.
              </div>
              <div *ngIf="email.errors.email">
                E-mail inválido.
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4 ui-lg-4">
            <label for="phoneNumber">Telefone</label>
            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="(000) 00000-0000" pInputText>
          </div>
        </div>
      </div>

      <div class="ui-g" *ngIf="respondentTypeSelected === 'INTERN'">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="respondentType">Identificador</label>
            <input type="text" formControlName="respondentIdentifier" name="respondentIdentifier" id="respondentIdentifier" pInputText disabled>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="registration">Matrícula</label>
            <input type="text" formControlName="registration" name="registration" id="registration" pInputText>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6 required">
            <label for="name">Nome</label>
            <input type="text" formControlName="name" name="name" id="name" pInputText>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              <div *ngIf="name.errors.required">
                Nome é obrigatório.
              </div>
              <div *ngIf="name.errors.minlength">
                Nome deve conter no mínimo 3 caracteres.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="cpf">CPF</label>
            <input type="text" formControlName="cpf" name="cpf" id="cpf" placeholder="000.000.000-00" pInputText>
            <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="error-message">
              <div *ngIf="cpf.errors.maxlength">
                CPF deve conter no máximo 45 caracteres.
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="phoneNumber">Telefone</label>
            <input type="text" formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="(000) 00000-0000" pInputText>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6 required">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" name="email" id="email" pInputText>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <div *ngIf="email.errors.required">
                E-mail é obrigatório.
              </div>
              <div *ngIf="email.errors.email">
                E-mail inválido.
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="admissionDate">Data Admissão</label>
            <p-calendar formControlName="admissionDate" name="admissionDate" showButtonBar="true" placeholder="DD/MM/AAAA" [showIcon]="true" id="admissionDate"
              [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="experienceContractExpiration1">Vencimento 1 contrato exp.</label>
            <p-calendar formControlName="experienceContractExpiration1" name="experienceContractExpiration1" showButtonBar="true" placeholder="DD/MM/AAAA"
              [showIcon]="true" id="experienceContractExpiration1" [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
          <div class="ui-g-12 ui-md-3 ui-lg-3">
            <label for="experienceContractExpiration2">Vencimento 2 contrato exp.</label>
            <p-calendar formControlName="experienceContractExpiration2" name="experienceContractExpiration2" showButtonBar="true" placeholder="DD/MM/AAAA"
              [showIcon]="true" id="experienceContractExpiration2" [locale]="pt" [dateFormat]="'dd/mm/yy'">
            </p-calendar>
          </div>
        </div>
      </div>

      <p-footer *ngIf="respondentTypeSelected">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3 ui-lg-2">
            <button pButton type="submit" [disabled]="form.invalid" label="Salvar">
            </button>
          </div>
        </div>
      </p-footer>
    </p-panel>
  </form>

</div>
