<div class="sds-container" id="page-content">
  <h1 class="sds-page-title">
    <span id="sds-page-title">Insights</span>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </h1>

  <p-panel>
    <p-header>
      Insights
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g">
            Gráficos
          </div>
        </div>
        <div class="ui-lg-12 error-container">
              <!-- <s-empty-state *ngIf="true" [title]="'titulo'"
                [primaryActionLabel]="'platform.ecm_ged.content_try_again'" (primaryAction)="refresh()"
                [description]="'platform.ecm_ged.content_files_load_error'">
              </s-empty-state> -->

              <s-loading-state [loading]="false"></s-loading-state>
            </div>
      </div>
    </div>

  </p-panel>
</div>
