<div class="sds-container" id="page-content">
  <h1 class="sds-page-title">
    <span id="sds-page-title">{{ 'respondent.title' | translate }}</span>
    <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
  </h1>

  <p-panel class="ui-g ui-fluid">
    <p-header>
      {{ 'respondent.list_title' | translate }}
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <div class="ui-g">
            <s-button [label]="'application.add' | translate" priority="primary" (click)="new()"></s-button>
            <p-confirmDialog [header]="'application.confirm' | translate" [style]="{width: '50vw'}"></p-confirmDialog>
            <p-table [value]="respondents" (onLazyLoad)="findByLazy($event)" [lazy]="true" [paginator]="true" [rowsPerPageOptions]="[5,20,50]" [rows]="5"
              [totalRecords]="totalElements" (onPage)="paginate($event)" #dt *ngIf="totalElements !== 0">
              <ng-template pTemplate="caption">
                <div style="text-align: left">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Pesquise pelo nome..." (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width:auto">
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ 'application.name' | translate }}</th>
                  <th>{{ 'application.type' | translate }}</th>
                  <th>{{ 'application.email' | translate }}</th>
                  <th>{{ 'application.phone' | translate }}</th>
                  <th width="150">
                    {{ 'application.actions' | translate }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowdata>
                <tr>
                  <td>{{ rowdata.name }}</td>
                  <td>
                    <s-badge [text]="respondentTypeDescription(rowdata.respondentType)" [color]="respondentTypeColor(rowdata.respondentType)"></s-badge>
                  </td>
                  <td>{{ rowdata.email }}</td>
                  <td>{{ rowdata.phoneNumber }}</td>
                  <td>
                    <s-button [label]="'application.actions' | translate" priority="default" [auxiliary]="true" [model]="getActions(rowdata)"></s-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <label for="">{{ 'application.total_found_records' | translate:{'totalElements': totalElements} }}</label>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="ui-lg-12 error-container">
          <s-empty-state *ngIf="hasErrors" [title]="'application.error.something_is_wrong' | translate" [primaryActionLabel]="'application.retry' | translate"
            (primaryAction)="refresh()" [description]="errorMessage">
          </s-empty-state>

          <s-empty-state *ngIf="totalElements === 0" [title]="'respondent.empty' | translate" [description]="'respondent.add_new' | translate">
          </s-empty-state>

          <s-loading-state [loading]="loading"></s-loading-state>
        </div>
      </div>
    </div>
  </p-panel>
</div>
